[attr]lfs filter=lfs diff=lfs merge=lfs -text

## Unity ##

# Scripts
*.cs diff=csharp text
*.shader text

# Unity-specific assets
[attr]unitymerge merge=unityyamlmerge eol=lf
*.anim unitymerge
*.asset unitymerge
*.controller unitymerge
*.mat unitymerge
*.meta unitymerge
*.physicsMaterial unitymerge
*.physicsMaterial2D unitymerge
*.prefab unitymerge
*.unity unitymerge

# Other
*.unitypackage lfs

# Non-Unity-specific assets

# Images
*.bmp lfs
*.jpg lfs
*.jpeg lfs
*.png lfs

# Audio
*.mp3 lfs
*.wav lfs

# Plugins
*.dll lfs
*.mdb lfs
*.pdb lfs

# MS Office Documents
*.docx
*.docm
